body{
background-color: #e9f3fc;
}
header{

background-color:#a750e5;

}

h1{
margin-left: 20px;
color: #68b5f5;
margin-top: 30px;
}
.img1{
margin-left: 60px;
}
p {
text-align: center;
font-family: 'Roboto', sans-serif;
}
h2{
margin-left: 50px;
font-family: Arial, Helvetica, sans-serif;
color: rgb(230, 42, 42);
}
footer{
height: auto;
width: 100%;
background-color: #a5a1a8;
}
